<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7070">  <td>22/08/10 17:50:04</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.reporter()[pri:0, instance:com.test.SuperAdmin.SuperAdminLoginTest@6043cd28]">&gt;&gt;reporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>22/08/10 17:50:04</td>   <td>192</td> <td>&nbsp;</td><td title="&gt;&gt;SuperAdminLoginTest.setUp()[pri:0, instance:com.test.SuperAdmin.SuperAdminLoginTest@6043cd28]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>22/08/10 17:50:04</td>   <td>741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuperAdminLoginTest.Login_N_Logout(java.lang.String, java.lang.String)[pri:1, instance:com.test.SuperAdmin.SuperAdminLoginTest@6043cd28]">Login_N_Logout</td> 
  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>22/08/10 17:50:06</td>   <td>2439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuperAdminLoginTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.test.SuperAdmin.SuperAdminLoginTest@6043cd28]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2024542466</td>   <td></td> </tr>
<tr bgcolor="eed3b9">  <td>22/08/10 17:50:06</td>   <td>2474</td> <td title="&lt;&lt;SuperAdminLoginTest.generateReport()[pri:0, instance:com.test.SuperAdmin.SuperAdminLoginTest@6043cd28]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
