<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuperAdminTestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bafac">  <td>21/03/04 21:00:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MasterConfTest.addChargerConfTest()[pri:1, instance:com.test.SuperAdmin.MasterConfTest@71238fc2]">addChargerConfTest</td> 
  <td>main@1421866327</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/03/04 21:01:57</td>   <td>62625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MasterConfTest.finish(org.testng.ITestResult)[pri:0, instance:com.test.SuperAdmin.MasterConfTest@71238fc2]">&lt;&lt;finish</td> 
<td>&nbsp;</td>  <td>main@1421866327</td>   <td></td> </tr>
<tr bgcolor="91a7ac">  <td>21/03/04 21:02:00</td>   <td>65364</td> <td>&nbsp;</td><td title="&lt;&lt;Base.generateReport()[pri:0, instance:com.test.SuperAdmin.LeftSideMenusTest@fa49800]">&lt;&lt;generateReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1421866327</td>   <td></td> </tr>
<tr bgcolor="91a7ac">  <td>21/03/04 20:58:29</td>   <td>-145236</td> <td>&nbsp;</td><td title="&gt;&gt;Base.reporter()[pri:0, instance:com.test.SuperAdmin.LeftSideMenusTest@fa49800]">&gt;&gt;reporter</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1421866327</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>21/03/04 20:58:29</td>   <td>-145067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LeftSideMenusTest.sideMenusTest()[pri:0, instance:com.test.SuperAdmin.LeftSideMenusTest@fa49800]">sideMenusTest</td> 
  <td>main@1421866327</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>21/03/04 21:00:51</td>   <td>-3239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LeftSideMenusTest.tearDown(org.testng.ITestResult)[pri:0, instance:com.test.SuperAdmin.LeftSideMenusTest@fa49800]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1421866327</td>   <td></td> </tr>
</table>
