<h2>Methods that were not run</h2><table>
<tr><td>com.base.Base.generateReport</td></tr>
<tr><td>com.base.Base.reporter</td></tr>
<tr><td>com.test.SuperAdmin.MasterConfTest.connectorConfTest</td></tr>
</table>