<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bafac">  <td>21/02/17 18:00:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ResetPasswordTest.Forgot_Password_Reset_Email(java.lang.String)[pri:1, instance:com.test.CommonTests.ResetPasswordTest@7113b13f]">Forgot_Password_Reset_Email</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/02/17 18:01:02</td>   <td>28251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ResetPasswordTest.Forgot_Password_Reset_Email(java.lang.String)[pri:1, instance:com.test.CommonTests.ResetPasswordTest@7113b13f]">Forgot_Password_Reset_Email</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/02/17 18:01:31</td>   <td>57063</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ResetPasswordTest.Forgot_Password_Reset_Email(java.lang.String)[pri:1, instance:com.test.CommonTests.ResetPasswordTest@7113b13f]">Forgot_Password_Reset_Email</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>21/02/17 17:59:08</td>   <td>-85535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Login_N_Logout(java.lang.String, java.lang.String)[pri:1, instance:com.test.CommonTests.LoginTest@60285225]">Login_N_Logout</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>21/02/17 17:59:47</td>   <td>-47031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Login_N_Logout(java.lang.String, java.lang.String)[pri:1, instance:com.test.CommonTests.LoginTest@60285225]">Login_N_Logout</td> 
  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>21/02/17 17:59:44</td>   <td>-49796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.finish(org.testng.ITestResult)[pri:0, instance:com.test.CommonTests.LoginTest@60285225]">&lt;&lt;finish</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>21/02/17 18:00:31</td>   <td>-3127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.finish(org.testng.ITestResult)[pri:0, instance:com.test.CommonTests.LoginTest@60285225]">&lt;&lt;finish</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/02/17 18:00:59</td>   <td>24495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ResetPasswordTest.finish(org.testng.ITestResult)[pri:0, instance:com.test.CommonTests.ResetPasswordTest@7113b13f]">&lt;&lt;finish</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/02/17 18:01:27</td>   <td>53421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ResetPasswordTest.finish(org.testng.ITestResult)[pri:0, instance:com.test.CommonTests.ResetPasswordTest@7113b13f]">&lt;&lt;finish</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/02/17 18:01:54</td>   <td>79685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ResetPasswordTest.finish(org.testng.ITestResult)[pri:0, instance:com.test.CommonTests.ResetPasswordTest@7113b13f]">&lt;&lt;finish</td> 
<td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="9ba398">  <td>21/02/17 17:59:08</td>   <td>-86301</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.setUp()[pri:0, instance:com.test.CommonTests.LoginTest@60285225]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="7bafac">  <td>21/02/17 17:59:08</td>   <td>-86088</td> <td>&nbsp;</td><td title="&gt;&gt;ResetPasswordTest.setUp()[pri:0, instance:com.test.CommonTests.ResetPasswordTest@7113b13f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
<tr bgcolor="91a7ac">  <td>21/02/17 18:01:57</td>   <td>83356</td> <td title="&lt;&lt;Base.shutDown()[pri:0, instance:com.test.CommonTests.LoginTest@60285225]">&lt;&lt;shutDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@681384962</td>   <td></td> </tr>
</table>
